<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
			<div class="col-lg-10">
				<form role="form" class="form-horizontal"
					action="/jpatest/insert" method="post"
					
					name="myform">
					<fieldset>
						<div id="legend">
							<legend>아래 양식을 작성해주세요.</legend>
						</div>

						<div class="form-group">
							<!-- 아이디 -->
							<label class="control-label col-sm-2" for="orgcode">아이디</label>
							<div class="col-sm-3">
								<input type="text" id="id" name="id"
									placeholder="아이디" class="form-control" >

							</div>
						</div>



						<div class="form-group">
							<!-- 패스워드-->
							<label class="control-label col-sm-2" for="deptname">패스워드</label>
							<div class="col-sm-3">
								<input type="text" id="password" name="password"
									placeholder="패스워드" class="form-control" >

							</div>
						</div>

						<div class="form-group">
							<!-- 성명-->
							<label class="control-label col-sm-2" for="deptStartDay">성명</label>
							<div class="col-sm-3">
								<input type="text" id="name" name="name"
									placeholder="성명" class="form-control" >

							</div>
						</div>
						<div class="form-group">
							<!-- 점수-->
							<label class="control-label col-sm-2" for="deptEndDay">점수</label>
							<div class="col-sm-3">
								<input type="text" id="jumsu" name="jumsu"
									placeholder="점수" class="form-control" >

							</div>
						</div>
						
						<div class="form-group">
							<!-- Button -->
							<div class="col-sm-3 col-sm-offset-2">
								<input type="submit" value="등록하기" class="btn btn-success" />
							</div>
						</div>
					</fieldset>
				</form>
			</div>
	<div>
		<a href="/erp/emp/list.do">회원목록보기</a>
	</div>
</body>
</html>