<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<style type="text/css">
	.me{
			background-color: #FAECC5;
			width: 70%;
			float: right;
			margin: 1px
		}
		.other{
			background-color: #EAEAEA;
			width: 70%;
			float: left;
			margin: 1px
		}
		#talklist{
			border:1px solid;
			width: 600px;
			height: 400px
		}
		#msg{
			border:1px solid;
			width: 550px;
			margin-top: 10px
		}
		#sendbtn{
			height: 40px;
			margin-top: 10px;
		}
		#id{
			width: 350px;
			margin-bottom: 10px
		}
	</style>
	
</head>
<body>
	<div id='chatt'>
		<h1>웹 소켓 채팅</h1>
		<input type='text' id='id' >
		<input type='button' value='채팅참여' id='joinbtn' >
		<input type='button' value='채팅종료' id='btnclose' >
		<br/>
		<div id='talklist'></div>
		<div id='sendZone'>
			<textarea id='msg' ></textarea>
			<input type='button' value='전송' id='sendbtn'>
		</div>
	</div>
	<script type="text/javascript">
 		//전송할 데이터가 여러개이므로 json으로 전송
 		let mydata = {};
 		$(document).ready(function() {
 			$("#joinbtn").on("click", function() {
 				// 웹소켓 객체를 생성
 				ws = new WebSocket("ws://" + location.host + "/chat" );
 				// 웹소켓이 연결된 후에 발생하는 이벤트에 대해서 반응할 수 있도록 정의
 				// 웹소켓에서 클라이언트로 메시지를 전송할 때 발생하는 이벤트 - 메시지 객체를 보낸다.
 				ws.onmessage= function(msg) {
 					// 실제 데이터는 json으로 전송
 					// alert(msg.data); // 메시지 객체에 저장된 실제 데이터 꺼내기 - 내부에서 data라는 이름으로 저장
 					// json객체로 파싱
 					let resMsg = JSON.parse(msg.data)
 					let msgcss = ""; // 나와 다른사람의 메시지 css를 변경하기 위해서
 					// 전송된 메시지 안에 등록된 id 정보와 input 태그안에 입력한 id와 동일한지 확인 (세션에서 꺼낸 아이디와 동일)
 					if (resMsg.id == $("#id").val()) { // 내가 작성한 메시지
 						msgcss = "class=me";
 					} else {
 						msgcss = "class=other";
 					}
 					// talklist에 출력하기 - div 만들어서 출력
 					
 					let item = "<div " + msgcss + " ><span><b>"+ resMsg.id + "</b></span>"
 								+ "<b> ["+ resMsg.date + "]</b><br/>"
 								+ "<span>"+ resMsg.msg + "</span>"
 								+ "</div>"
 					$("#talklist").append(item);
 					
 					
 				}
 				// 웹소켓에 연결된 후에 발생하는 이벤트에 반응하도록 정의
 				ws.onopen = function(msg) {
 					$("#talklist").append(location.host + "님 접속완료......\n")
 				}
 				// 웹소켓이 종료된 후에 발생하는 이벤트에 반응하도록 정의
 				ws.onclose = function(msg) {
 					$("#talklist").append(location.host + "님 접속종료......\n")
 				}
 				// 에러가 발생했을때 이벤트에 반응하도록 정의
 				ws.onerror = function(msg) {
 					$("#talklist").append("에러발생.......\n")
 				}
 			})
 			$("#sendbtn").on("click", function() {
 				// alert("메시지 전송");
 				sendMessage()
 			})
 			// 이벤트가 발생하면 발생한 이벤트 객체를 함수를 호출하면서 매개변수로 전달 (자바스크립트 엔진 내부에서)
 			// 키 이벤트이므로 키의 아스키값이 전달된다
 			$("#msg").on("keyup", function(event) {
 				// 엔터키가 눌려지면 
 				if (event.keyCode == 13){
 					// alert("메시지 전송");
 					sendMessage()
 				}
 			})
 			$("#btnclose").on("click", function() {
 				ws.close();
 			})
 		});
 		// 메시지 전송 함수
 		function sendMessage() {
 			// alert("메시지 전송 함수")
 			// 서버로 보낼 메시지를 만들어서 서버로 전송하기
 			// 아이디는 지금은 <input>에서 입력한 데이터를 가져오지만 웹의 세션에서 아이디를 꺼내서 작업
 			// json 만들기
 			mydata.id = $("#id").val();
 			mydata.msg = $("#msg").val();
 			mydata.date = new Date().toLocaleDateString(); // 오늘날짜
 			mydata.type = "textmsg" // 메시지 유형  
 			// json 문자열로 변환
 			let sendMsg = JSON.stringify(mydata);
 			// 웹소켓으로 메시지를 전송
 			ws.send(sendMsg);
 			// 메시지 전송이 완료되면 텍스트창을 지우기
 			$("#msg").val("");

 		}
 	</script>
	
</body>
</html>