<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>맵테스트</title>
</head>
<body>
    <h1>맵테스트</h1>
    <div id="map" style="width:800;height:700px;"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bb2df2ec49b9fd9c9ea872070e3de289"></script>
    <script>
        var container = document.getElementById('map');
        var options = {
            center: new kakao.maps.LatLng(37.4681345, 126.8861139),
            level: 3
        };

        var map = new kakao.maps.Map(container, options);
    </script>
    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.4681345, 126.8861139), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 마커가 표시될 위치입니다
        var markerPosition  = new kakao.maps.LatLng(37.4681345, 126.8861139);

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            position: markerPosition
        });

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);

        // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
        // marker.setMap(null);
    </script>
</body>
</html>