<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment = "content">
	<h3><a href="/erp/json/getString">스트링 데이터받기</a></h3>
	<h3><a href="/erp/json/getJsonObj">DTO를 JSON으로 변환해서 받기</a></h3>
	<h3><a href="/erp/json/getJsonArr">ArrayList에 저장된 DTO를 json으로 변환해서 받기</a></h3>	
	<h3><a href="/erp/json/categorySearch?category=게시판">ArrayList에 저장된 DTO를 json으로 변환해서 받기(카테고리별 조회)</a></h3>
	</div>
</body>
</html>