@charset "UTF-8";
body{
	font-size: 9pt;
	
}
h1{
	color: green;
}
img {
	width: 300px;
	height: 100px;
	object-fit: fill;
}
#outer{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#boxtest{
	background-color: aqua;
	background-image: url("../../images/product/dog.jpg");
	background-size: 150px;
	background-repeat: no-repeat;
	border: solid 1px white;
	width:1200;
	height: 70px;
	margin: 20px;
	padding: 20px;
	padding-left: 170px;
	overflow: auto;
}