<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid text-center bg-grey">
    <h2>상품 목록 조회</h2>
    <h4>당신이 필요한 모든것</h4>
    <div class="row text-center">
        <div class="col-sm-4" th:each="product:${productlist}" >
            <div class="thumbnail">
                <img th:src="${product.image}"  alt="Paris">
                <p><strong th:text="${product.productName}"></strong></p>
                <p th:text="${product.info}">Yes, we built Paris</p>
                <p th:text="${product.category.categoryName}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>